<h2>Youtube</h2>

<div *ngFor="let product of items">
 
  <h3>
    <a [title]="product.description"
        [href]="product.link">
      {{ product.name }}
    </a>
  </h3>
 
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <div>
    <iframe width="560" 
            height="315" 
            src="https://www.youtube.com/embed/nXRLDekioEA" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->